body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.ke1 {
  height: 700px;
  overflow: hidden;
}

.ke1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 65%;
}

.isi .beranda {
  display: inline;
  float: left;
  position: relative;
  margin-left: 17rem;
}
.beranda a,
.beranda img,
.beranda p {
  float: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}
.beranda img {
  width: 1.4rem;
  margin: 0 1rem;
}

.garis {
  position: relative;
  width: 90%;
  z-index: 11;
}

.isi {
  margin-top: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kumpulankiri {
  width: 727px;
  position: relative;
  margin: auto;
}
.isi .kanan,
.isi .kiri {
  margin-top: 1rem;
}
.isi .kiri {
  width: 70%;
  height: auto;
}
.isi .kanan {
  width: 30%;
}

.situgunung h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
}

.situgunung .tipis1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}

.situgunung .tebel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.situgunung .tipis {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}
.kumpulangambar img {
  width: 100%;
}
.kumpulangambar {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 350px;
}
.situgunung img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
}
.ul {
  margin-left: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
}

.bawah {
  position: relative;
  display: flex;
  width: min(1150px, 90%);
  border-radius: 15px;

  margin: 6rem auto;
  background-repeat: repeat;
  background-position: center;
}

.bawah .logo {
  width: 30%;
}
.bawah .logo img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
}
.bawah .isi .isi1 {
  position: absolute;
  width: 100%;
}
.bawah .isi {
  right: -3rem;
  color: white;
  margin-top: 3rem;
}

.bawah .isi p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.29);
  position: relative;
}

.bawah .isi button {
  height: 50px;
  background: #62bae7;
  border-radius: 15px;
  margin-left: 1rem;
}

.bawah .isi .subscribe {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.bawah input::placeholder {
  position: relative;
  left: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.22);
}

#map {
  width: 90%;
  margin-top: 1rem;
  height: 180px;
}

.sosmed {
  display: inline;
}
.sosmed h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 2rem;

  color: #000000;
}
.sosmed .bi {
  position: relative;
  display: inline;
  top: -3rem;
  left: 9rem;
  color: white;
  font-size: 2rem;
  padding: 0.7rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #62bae7;
}

.sosmedd .bi {
  width: 45px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: #001d2c;
  background: #ffffff;
  cursor: pointer;
  line-height: 35px;
  margin-right: 5px;
  position: relative;
  top: -6rem;
  left: 2rem;
}

footer {
  width: 100%;
  position: relative;

  top: auto;
  background-color: #001d2c;
  color: #ffffff;
  padding: 0.5rem 1%;
  z-index: 222;
}

@media (max-width: 1200px) {
  .bawah {
    position: relative;
    display: flex;
    width: min(800px, 90%);
    border-radius: 15px;
    margin: 6rem auto;
    background-repeat: repeat;
    background-position: center;
  }
  .isi .kiri {
    padding-left: 3rem;
  }
  .ke1 {
    height: 400px;
  }

  .isi1 {
    font-size: 0.1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 992px) {
  footer {
    width: 100%;
    position: relative;
    background-color: #001d2c;
    color: #ffffff;
    padding: 0.5rem 1%;
    z-index: 222;
  }
}
@media (max-width: 1100px) {
  .kumpulankiri {
    width: 627px;
    position: relative;
    margin: auto;
  }
  .isi .kiri .kumpulankiri {
    width: 80%;
    margin: 0 auto;
  }
  .isi .kiri {
    margin: 0 auto;
    padding: 0;
    width: 80%;
  }
  .isi .kanan {
    margin: 0 auto;
    width: 80%;
    padding-top: 1rem;
  }

  #map {
    width: 90%;
    margin: 0 auto;
  }
  .sosmed {
    position: relative;
  }
  .bawah {
    width: min(800px, 90%);
  }
}

@media (max-width: 872px) {
  .bawah {
    width: min(700px, 90%);
  }
  .isi1 {
    font-size: 0.1rem;
    padding-right: 5rem;
  }
  .bawah .isi {
    width: 100%;
  }
}

@media (max-width: 723px) {
  .bawah {
    width: min(500px, 90%);
  }
  .isi1 {
    font-size: 0.1rem;
    padding-right: 1rem;
  }
  .bawah .isi p {
    font-size: 1rem;
  }
  .logo {
    width: 40%;
    padding: 0;
    margin: 0;
  }
  .logo img {
    width: 100%;
    padding-right: 1rem;
    margin-left: 2rem;
  }
  .row .col1 .logo {
    margin-top: 3rem;
    width: 70%;
  }
  .sosmedd .bi {
    width: 10%;
  }
}

@media (max-width: 587px) {
  .bawah .logo {
    width: 100%;
  }
  .bawah .logo img {
    width: 100%;
    margin: auto;
  }
  .bawah {
    position: relative;
    display: block;
    margin: 6rem auto;
    width: min(400px, 90%);
    height: 500px;
  }
  .bawah .isi {
    position: relative;
    width: 100%;
    margin: auto;
    width: 90%;
    right: -1rem;
  }
  .bawah .isi p {
    font-family: "Poppins";
    font-size: 14px;
  }
  .bawah .isi button {
    width: 124px;
    height: 40px;
  }
  .bawah input {
    width: 200px;
    height: 40px;
  }
  .isi .beranda {
    margin-left: 4rem;
  }
}

@media (max-width: 450px) {
  .kumpulangambar {
    width: 100%;
  }
  .kumpulangambar img {
    width: 100%;
  }
  .bawah {
    width: min(300px, 90%);
  }
  .bawah .isi {
    width: 101%;
  }
  .bawah .isi .inputbutton {
    margin-top: 1rem;
  }
  .bawah input {
    width: 150px;
    height: 40px;
  }
  .a {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .beranda a {
    padding-block: 7px;
  }
}
